<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'Bootstrap.html' %}
    <title>Bestseller</title>
</head>
<body>
{% include 'Navileiste.html' %}


<h1 class="Titel">Unsere Bestseller</h1>


<div class="row">
    <div class="col-6 ms-5 p-3 text-center border  Ani oi1l">
        <h2>#1 Dragonslayer</h2>
        <img src="{{ items['Dragonslayer'].bild }}" width="300px" height="400px">
        <br><br>
        <a href="/Skybase/Prime" class="btn btn-success">Schau dir hier den Artikel an!</a>
    </div>

    <div class="col-6 ms-5 p-3 text-center border Ani oi1">
        <h2>#2 Star Platinum</h2>
        <img src="{{ items['Star Platinum'].bild }}" width="300px" height="400px">
        <br><br>
        <a href="/Skybase/Prime" class="btn btn-success">Schau dir hier den Artikel an!</a>
    </div>

    <div class="col-6 ms-5 p-3 text-center border Ani oi1">
        <h2>#3 Hollow Purple</h2>
        <img src="{{ items['Hollow Purple'].bild }}" width="375px" height="400px">
        <br><br>
        <a href="/Skybase/Prime" class="btn btn-success">Schau dir hier den Artikel an!</a>
    </div>

    <div class="col-6 ms-5 p-3 text-center border Ani oi1">
        <h2>#4 Ultra Instinct</h2>
        <img src="{{ items['Ultra Instinct'].bild }}" width="300px" height="400px">
        <br><br>
        <a href="/Skybase/Prime" class="btn btn-success">Schau dir hier den Artikel an!</a>
    </div>
</div>

<br>

<div class="row">
    <div class="col-6 ms-5 p-3 text-center border Ani oi1l">
        <h2>#5 3D-Manöver-Apparat</h2>
        <img src="{{ items['3D-Manöver-Apparat'].bild }}" width="350px" height="400px">
        <br><br>
        <a href="/Skybase/Prime" class="btn btn-success">Schau dir hier den Artikel an!</a>
    </div>

    <div class="col-6 ms-5 p-3 text-center border Ani oi1">
        <h2>#6 Scouter</h2>
        <img src="{{ items['Scouter'].bild }}" width="350px" height="400px">
        <br><br>
        <a href="/Skybase/Prime" class="btn btn-success">Schau dir hier den Artikel an!</a>
    </div>

    <div class="col-6 ms-5 p-3 text-center border Ani oi1">
        <h2>#7 Inverted Spear Of Heaven</h2>
        <img src="{{ items['Inverted Spear Of Heaven'].bild }}" width="350px" height="370px">
        <br><br>
        <a href="/Skybase/Prime" class="btn btn-success">Schau dir hier den Artikel an!</a>
    </div>

    <div class="col-6 ms-5 p-3 text-center border Ani oi1">
        <h2>#8 Titanserum</h2>
        <img src="{{ items['Titanserum'].bild }}" width="350px" height="400px">
        <br><br>
        <a href="/Skybase/Prime" class="btn btn-success">Schau dir hier den Artikel an!</a>
    </div>
</div>

<br><br><br><br>

</body>
</html>