<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
{% include 'Navileiste.html' %}






</body>
</html>



https://static.wikia.nocookie.net/34583b11-82ef-4fa0-8b3a-bb83d34c6e1d/scale-to-width/755
https://i.redd.it/whos-more-racist-minority-hunter-zoro-or-kkk-kaido-v0-jowpgjnqxnia1.jpg?width=755&format=pjpg&auto=webp&s=e5c89609d9e481da1f28902a2c3bdcd8f848cc1f
https://preview.redd.it/what-did-zoro-mean-by-this-v0-95sbww4mwolb1.jpeg?width=1088&format=pjpg&auto=webp&s=5af0acee0f7edf0573ed097afd312d28811483e1