<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'Bootstrap.html' %}
    <title>Kategorien</title>
</head>
<body>
{% include 'Navileiste.html' %}




  <div class="container">
            {% if not error %}
        <div class="row">
                {% for item_name, item in items.items() %}
                    <div class="col-md-4 col-sm-6 mb-4 waffen Ani">
                        <div class="card h-100">
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item item">{{ item_name }}</li>
                                    <li class="list-group-item item"><img class="card-img-top" src="{{ item.bild }}" alt="{{ item_name }}" style="width:224px; height:225px;"></li>
                                    <li class="list-group-item item">Kategorie: {{ item.kategorie }}</li>
                                    <li class="list-group-item item">Preis: {{ item.preis }}</li>
                                    <li class="list-group-item item">Herkunft: {{ item.herkunft }}</li>
                                    <li class="list-group-item item">Schaden: {{ item.schaden }}</li>
                                    <li class="list-group-item item">Beschreibung: {{ item.beschreibung }}</li>
                                    <li class="list-group-item item">Bewertung: {{ item.bewertung }}</li>
                                    <li class="list-group-item item"><a href="/Skybase/Prime" class="btn btn-success">In den <i class="bi bi-cart-fill"></i> Warenkorb</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}
            {% if error%}
            <p>Kann nicht gefunden werden</p>
            {% endif %}
        </div>
    </div>

</body>
</html>