<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
{% include 'Navileiste.html' %}




<div class="container">
    <div class="row">
        {% for item_name, item in items.items() %}
            <div class="col-md-4 col-sm-6 mb-4 waffen"> <!-- 3 Karten pro Reihe auf größeren Bildschirmen -->
                <div class="card h-100"> <!-- Klasse h-100 sorgt dafür, dass alle Karten gleich hoch sind -->
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item item">{{ item_name }}</li>
                            <li class="list-group-item item">
                                <img class="card-img-top" src="{{ item.bild }}" alt="{{ item_name }}" style="width:224px; height:225px;">
                            </li>
                            <li class="list-group-item item">Kategorie: {{ item.kategorie }}</li>
                            <li class="list-group-item item">Preis: {{ item.preis }}</li>
                            <li class="list-group-item item">Herkunft: {{ item.herkunft }}</li>
                            <li class="list-group-item item">Schaden: {{ item.schaden }}</li>
                            <li class="list-group-item item">Beschreibung: {{ item.beschreibung }}</li>
                            <li class="list-group-item item">Bewertung: {{ item.bewertung }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>