<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Partner</title>
    {% include 'Bootstrap.html' %}
</head>
<body>
{% include 'Navileiste.html' %}





<div class="row">
    <div class="col-6 ms-5 p-3 text-center border Ani pi1">
        <h2>Unser Partner: Zoro</h2>
        <img src="https://i.pinimg.com/736x/84/2f/b3/842fb3bb92bb63c310a31b224c7a5026.jpg" width="200px" height="400px">
        <br><br>
        <p>Zoro sagt: "Die Schwerter sind bombastisch, perfekt um als Pirat auf dem Meer zu überleben... oder wo auch immer ich hier bin"</p>
    </div>

    <div class="col-6 ms-5 p-3 text-center borde  Ani pi3">
        <h2>Unser Partner: Link</h2>
        <img src="https://cdn.wikimg.net/en/zeldawiki/images/thumb/2/29/OoT_Link_Artwork.png/257px-OoT_Link_Artwork.png" width="300px" height="400px">
        <br><br>
        <p>Link sagt: "HYAA HO HYAAGH HYAAAAAGH OHOHO AAAAGH GHA YAAAGH (Die Schilde und Bögen sind super in dem Laden, und echt nette Mitarbeiter vor ort)"</p>
    </div>

    <div class="col-6 ms-5 p-3 text-center border Ani pi2">
        <h2>Unser Partner: Jotaro Kujo</h2>
        <img src="https://media.discordapp.net/attachments/1144599924810457138/1289730308715053128/JotaroKujo_Part3.png?ex=66f9e273&is=66f890f3&hm=1c7ed8115ae1d7ce73c499c9948ae5480a15ff69fca54c06e0f363629825ee0e&=&format=webp&quality=lossless&width=375&height=676" width="250px" height="400px">
        <br><br>
        <p>JoJo sagt: "Ah Scheisse noch eins... Ihr habt mich echt überzeugt, eure Stands sind echt Praktisch"</p>
    </div>
</div>

<br><br><br><br>

<div class="row">
    <div class="col-6 ms-5 p-3 text-center border Ani pi1">
        <h2>Unser Partner: The Chosen Undead</h2>
        <img src="https://i.redd.it/15nrbtptndsc1.png" width="200px" height="400px">
        <br><br>
        <p>TCU sagt: "Wisset, o Ihr edlen Gesellen, daß dies Rüstgewand gar vortrefflich ist, denn obgleich ich gar viele wuchtige Streiche empfangen habe, so stehe ich doch nach wie vor unbezwungen. Zudem vermag ich, durch die Kunst dieses Harnischs, den Hieben behände auszuweichen, auf daß ich in der Schlacht wohl bestehen möge."</p>
    </div>

    <div class="col-6 ms-5 p-3 text-center border Ani pi3">
        <h2>Unser Partner: Son Goku</h2>
        <img src="https://media.discordapp.net/attachments/1144599924810457138/1289737342810329211/sweerssa.png?ex=66f9e900&is=66f89780&hm=9085492bf69d025fca56385b3e2f0d18c1d0f394b2e8b219dc3a2c233d73fc0a&=&format=webp&quality=lossless&width=410&height=676" width="200px" height="400px">
        <br><br>
        <p>Goku sagt: "Hey ich bin´s Goku! Euer Laden ist Super nihihi, hier kaufen viele Starke Leute ein nihihi, die Ausrüstung ist hier auch echt Stark vorallem die Stäbe!</p>
    </div>

    <div class="col-6 ms-5 p-3 text-center border Ani pi2">
        <h2>Unser Partner: Reinhardt</h2>
        <img src="https://media.discordapp.net/attachments/1144599924810457138/1289746354234593464/Reinhardt-portrait.png?ex=66f9f165&is=66f89fe5&hm=0802cbe90cee174d1f3435abfe216ff42f0e0cb7353686e94c0423aa738440c7&=&format=webp&quality=lossless&width=472&height=437" width="350px" height="400px">
        <br><br>
        <p>Reinhardt sagt: "Die Hämmer und Rüstunga send echt sauguat ond sitzad wie gschaffd! Da’zu send d’ Schilder des Beschde, was i je gsäha hab!“</p>
    </div>
</div>

<br><br><br><br>


</body>
</html>