<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">




</head>
<body>
{% include 'Navileiste.html' %}

<div class="container">
    <h1 class="text-center mt-4">Unsere Partner</h1>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="partner-card">
                <h2>Unser Partner: Zoro</h2>
                <img src="https://i.pinimg.com/736x/84/2f/b3/842fb3bb92bb63c310a31b224c7a5026.jpg" alt="Zoro">
                <p>Zoro sagt: "Die Schwerter sind bombastisch, perfekt um als Pirat auf dem Meer zu überleben... oder wo auch immer ich hier bin."</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="partner-card">
                <h2>Unser Partner: Link</h2>
                <img src="https://cdn.wikimg.net/en/zeldawiki/images/thumb/2/29/OoT_Link_Artwork.png/257px-OoT_Link_Artwork.png" alt="Link">
                <p>Link sagt: "HYAA HO HYAAGH HYAAAAAGH OHOHO AAAAGH GHA YAAAGH."</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="partner-card">
                <h2>Unser Partner: Unbekannt</h2>
                <img src="https://via.placeholder.com/150" alt="Unbekannt">
                <p>Heute sind neue Stände in unserem Sortiment angekommen, und sehr starke neue Schwerter.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="partner-card">
                <h2>Unser Partner: Unbekannt</h2>
                <img src="https://via.placeholder.com/150" alt="Unbekannt">
                <p>Heute sind neue Stände in unserem Sortiment angekommen, und sehr starke neue Schwerter.</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="partner-card">
                <h2>Unser Partner: Unbekannt</h2>
                <img src="https://via.placeholder.com/150" alt="Unbekannt">
                <p>Heute sind neue Stände in unserem Sortiment angekommen, und sehr starke neue Schwerter.</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="partner-card">
                <h2>Unser Partner: Unbekannt</h2>
                <img src="https://via.placeholder.com/150" alt="Unbekannt">
                <p>Heute sind neue Stände in unserem Sortiment angekommen, und sehr starke neue Schwerter.</p>
            </div>
        </div>
    </div>
</div>



</body>
</html>