<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skybase-Prime</title>
    {% include 'Bootstrap.html' %}
</head>
<body>
{% include 'Navileiste.html' %}


<div class="row">
    <div class="col-6 ms-5 p-3 text-center border xxlb">
        <h2>Was ist Skybase Prime?</h2>
        <br>
        <p>Skybase Prime ist dein Upgrade für dein einkaufs erlebnis, mit Skybase Prime kriegst du früher benachrichtungen wenn wir neue Ware bekommen, dazu kriegst du Rabatte auf einkäufe</p>
        <br>
        <p>Der Preis ändert sich nach einer zeit, im 1 Monat kostet es 30 Euro, im 2 Monat kostet es 25 und im 3 Monat 20 und das ändert sich dann nicht mehr, zudem musst du 1 Jahr jeden monat bezahlen bevor du kündigen kannst</p>
        <a href="#" class="btn btn-warning">Kauf es dir hier jetzt!</a>
    </div>
</div>













</body>
</html>