
body {
    background-image: url("https://wallpapercave.com/wp/wp2173985.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;



    .text {
        color: white}

    .bg{
        background-color:#222222}

    .lb{
      width: 400px;
      height: 200px;
      background-color:#222222;
      color: white;
      padding: 10px;
      border: 4px solid darkred;
      word-wrap: break-word;
      overflow-y: auto;
      text-align: left;
      float: left;
      margin-left: 150px;
    }

.zb {
      width: 800px;
      height: 500px;
      background-color:#222222;
      color: black;
      border: 4px solid darkblue;
      word-wrap: break-word;
      overflow-y: auto;
      text-align: left;
      float: right;
    }





    .xlb {
      width: 400px;
      height: 200px;
      background-color:#222222;
      color: white;
      padding: 10px;
      border: 4px solid red;
      word-wrap: break-word;
      overflow-y: auto;
      text-align: right;
      float: left;
      margin-left: 250px;
    }


    .xxlb {
       width: 600px;
      height: 400px;
      background-color:#222222;
      color: white;
      padding: 10px;
      border: 4px solid red;
      word-wrap: break-word;
      overflow-y: auto;
      text-align: left;
      float: left;
      margin-left: 250px;
    }


    .rb {
      width: 400px;
      height: 200px;
      background-color:#222222;
      color: white;
      padding: 10px;
      border: 4px solid darkblue;
      word-wrap: break-word;
      overflow-y: auto;
      text-align: left;
      float: right;
      margin-right: 50px;
    }

    .bc {
        margin: auto;
        text-align: center;
        width: 400px;
        height: 200px;
        object-fit: contain;
    }

    .b {
        background-color:#222222;
        padding: 40px;
        border: 4px double yellow;
        margin-left: 400px;
        margin-right: 400px;

    }


    .pi1 {
        width: 400px;
        height: 600px;
        background-color: #222222;
        color: white;
        padding: 10px;
        border: 4px solid darkred;
        word-wrap: break-word;
        overflow-y: auto;
        text-align: center;
        float: left;
        margin-left: 225px;

    }

    .pi1r {
        width: 400px;
        height: 600px;
        background-color: #222222;
        color: white;
        padding: 10px;
        border: 4px solid darkred;
        word-wrap: break-word;
        overflow-y: auto;
        text-align: center;
        float: right;
        margin-left: 25px;
    }

    .pi2r {
        width: 400px;
        height: 600px;
        background-color: #222222;
        color: white;
        padding: 10px;
        border: 4px solid darkred;
        word-wrap: break-word;
        overflow-y: auto;
        text-align: center;
        float: right;
        margin-right: 25px;

    }

    .pi2 {
        width: 400px;
        height: 600px;
        background-color: #222222;
        color: white;
        padding: 10px;
        border: 4px solid darkred;
        word-wrap: break-word;
        overflow-y: auto;
        text-align: center;
        float: left;
        margin-left: 150px;

    }

    .pi3 {
        width: 400px;
        height: 600px;
        background-color: #222222;
        color: white;
        padding: 10px;
        border: 4px solid darkred;
        word-wrap: break-word;
        overflow-y: auto;
        text-align: center;
        float: left;
        margin-left: 150px;

    }

    .oi1l {
        width: 400px;
        height: 600px;
        background-color: #222222;
        color: white;
        padding: 10px;
        border: 4px solid darkred;
        word-wrap: break-word;
        overflow-y: auto;
        text-align: center;
        float: left;
        margin-left: 75px;
    }

    .oi1 {
        width: 400px;
        height: 600px;
        background-color: #222222;
        color: white;
        padding: 10px;
        border: 4px solid darkred;
        word-wrap: break-word;
        overflow-y: auto;
        text-align: center;
        float: left;
        margin-left: 50px;
    }


    .pic {
        text-align: center;
        margin: auto;
    }


     .itf {
      width: 600px;
      height: 300px;
      background-color:#222222;
      color: white;
      padding: 10px;
      border: 4px solid darkred;
      word-wrap: break-word;
      overflow-y: auto;
      text-align: center;
      float: left;
      margin-left:700px;
      margin-right:600px;
    }

    .Titel {
        background-color: #222222;
        color: white;
        padding: 10px;
        text-align: center;
        border: 4px groove yellow;
        margin-right: 775px;
        margin-left: 775px;
    }

    .Titel2 {
        background-color: #222222;
        color: white;
        padding: 10px;
        text-align: center;
        border: 4px groove yellow;
        margin-left: 400px;
        margin-right: 400px;
    }



.waffen {
        background-color: #222222;
        text-align: center;
        border: 4px groove lightblue;
        padding: 10px;
        color: white;
        margin-left: 0px;
        margin-bottom: 50px;
    }



    .item {
        background-color: transparent;
    }

 .Ani {

        }
        .Ani:hover {
            transform: scale(1.05); /* Vergrößerung beim Hover */
             transition: transform 0.2s; /* Animation für Hover-Effekt */
        }

    .x {
        word-wrap: break-word;
        max-height: 75px;
        overflow-y: scroll;
    }
    .x2 {
        word-wrap: break-word;
        max-height: 27px;
        overflow-y: scroll;
    }
    .x3 {
        word-wrap: break-word;
        max-height: 40px;
        overflow-y: scroll;
    }

    .x4 {
        word-wrap: break-word;
        max-height: 55px;
        overflow-y: scroll;
    }


    .carh1 {
        text-align: center;
        width: 600px;
        height: 300px;
        background-color: #222222;
        color: white;
        word-wrap: break-word;
        margin-left: 200px;
    }




}