
body {
    background-image: url("https://wallpapercave.com/wp/wp2173985.jpg");


    .text {
        color: white}

    .bg{
        background-color:#222222}

    .lb{
      width: 400px;
      height: 200px;
      background-color:#222222;
      color: white;
      padding: 10px;
      border: 4px solid darkred;
      word-wrap: break-word;
      overflow-y: auto;
      text-align: left;
      float: left;
      margin-left: 150px;
    }

.zb {
      width: 800px;
      height: 500px;
      background-color:#222222;
      color: black;
      border: 4px solid darkblue;
      word-wrap: break-word;
      overflow-y: auto;
      text-align: left;
      float: right;
    }







    .xlb {
      width: 400px;
      height: 200px;
      background-color:#222222;
      color: white;
      padding: 10px;
      border: 4px solid red;
      word-wrap: break-word;
      overflow-y: auto;
      text-align: right;
      float: left;
      margin-left: 250px;
    }

    .rb {
      width: 400px;
      height: 200px;
      background-color:#222222;
      color: white;
      padding: 10px;
      border: 4px solid darkblue;
      word-wrap: break-word;
      overflow-y: auto;
      text-align: left;
      float: right;
      margin-right: 50px;
    }

    .bc {
        margin: auto;
        text-align: center;
        width: 400px;
        height: 200px;
        object-fit: contain;
    }

    .b {
        background-color:#222222;
        padding: 40px;
        border: 4px solid greenyellow;
        margin-left: 400px;
        margin-right: 400px;

    }


    .pi1 {
        width: 400px;
        height: 600px;
        background-color: #222222;
        color: white;
        padding: 10px;
        border: 4px solid darkred;
        word-wrap: break-word;
        overflow-y: auto;
        text-align: center;
        float: left;
        margin-left: 225px;
    }

    .pi2 {
        width: 400px;
        height: 600px;
        background-color: #222222;
        color: white;
        padding: 10px;
        border: 4px solid darkred;
        word-wrap: break-word;
        overflow-y: auto;
        text-align: center;
        float: left;
        margin-left: 150px;
    }

    .pi3 {
        width: 400px;
        height: 600px;
        background-color: #222222;
        color: white;
        padding: 10px;
        border: 4px solid darkred;
        word-wrap: break-word;
        overflow-y: auto;
        text-align: center;
        float: left;
        margin-left: 150px;
    }

p{
    color: white;


}

h5{
    color:white;

}









     .itf {
      width: 600px;
      height: 300px;
      background-color:#222222;
      color: white;
      padding: 10px;
      border: 4px solid darkred;
      word-wrap: break-word;
      overflow-y: auto;
      text-align: center;
      float: left;
      margin-left:700px;
      margin-right:600px;

    }


.waffen {
        background-color: #222222;
        text-align: center;
        border: 4px groove lightblue;
        padding: 10px;
        color: white;
    }



    .item {
        background-color: transparent;
    }

 .partner-card {
            background-color: rgba(34, 34, 34, 0.8); /* Transparenz für den Hintergrund */
            border: 4px solid darkred;
            margin: 15px 0; /* Vertikaler Abstand zwischen den Karten */
            padding: 20px;
            text-align: center;
            overflow-y: auto;
            transition: transform 0.2s; /* Animation für Hover-Effekt */
        }
        .partner-card:hover {
            transform: scale(1.05); /* Vergrößerung beim Hover */
        }
        .partner-card img {
            max-width: 100%; /* Bild responsive machen */
            height: auto; /* Bildproportionen beibehalten */
        }

}